.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: red;
    font-family: monospace;
    font-size: larger;
}