.projects-container {
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin-bottom: 10%;
    
}

.projects-page-title {
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 6%;
    margin-bottom: 30px;
}


.projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}



@media  (max-width: 1140px) {
    .projects-container {
        width: 100vw;
    }
    .projects {
        flex-direction: column;
        width: 90%;
    }
    .projects-page-title {
        font-size: 1.8rem;
    }
}

