.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    
    background-color: black;
    
}

.inactive {
    display: none;
}

.nav-menu {
    display: flex;
    list-style-type: none;
}


.nav-menu li {
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.8rem;
    font-weight: 500;
    color: #EEEEEE;
    background-color: transparent;
}

.logo {
    font-size: 1.6rem;
    font-weight: 500;
    color: #EEEEEE;
    background-color: transparent;
}

.burger-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
    align-self: flex-end;
    display: none;
}

.overlay {
    display: flex;
    align-items: center; /* Vertically center children */
    justify-content: center; /* Horizontally center children */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 500;
    
}




@media (max-width: 1000px) {
    .burger-icon {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .nav-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 10%;
    }
    .bigger-screen-nav {
        display: none;
    }
}