.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px dashed #EEEEEE;
    margin-right: 10px;
}

.tech-name {
    margin-bottom: 0;
    padding: 0 4px;
    font-family: monospace;
    font-size: 1.4rem;
}

@media  (max-width: 1140px){
    .tab {
        margin-right: 3px;
    }
    .tech-name {
        font-size: 1.1rem;
    }
}
